# Bin/Obj's
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/


# Resharper
*resharper.user
_ReSharper.*/


# Temp files
*.suo
*.swp
*~


# VS user files
*.sln.cache
*.user


# Logs
logs/


# Build
build/
deploy/
[Rr]eport/*
*.Publish.xml
publish/*


#Make sure report dir is created
![Rr]eport/Specs/.gitignore
![Rr]eport/Tests/.gitignore

# don't exclude the Ruby bin!
![Tt]ools/Rake/lib/ruby/gems/1.8/gems/rake-0.8.7/bin/
![Tt]ools/Rake/bin
