*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.user
logs/
UpgradeLog*
_UpgradeReport_Files/
deploy/
report/*
*.Publish.xml
publish/*
# don't exclude the Ruby bin!
![Tt]ools/Rake/bin