<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BidsForKids.Data.Properties.Settings.BidsForKidsConnectionString" connectionString="Data Source=localhost;Initial Catalog=BidForKids;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
