<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BidsForKids.Data.Properties.Settings.BidsForKidsConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BidsForKids;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>