<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.8" targetFramework="net40" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net40" />
  <package id="NSubstitute" version="1.4.3.0" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>